body {
  background-color: white;
}

h1 {
  color: #13a3a8;
  border-top: 5px solid black;
  border-left: 5px solid red;
  border-right: 5px solid blue;
  border-bottom: 5px solid orange;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(146, 228, 228);
}

p {
  color: rgb(8, 8, 58);
}

.exemplo-back {
  height: 300px;
  background: gray url("../img/city.jpg") no-repeat center;
  background-size: cover;
}
